SNOWFLAKE_ACCOUNT=STPVIQA-PB85525
SNOWFLAKE_USERNAME=DHYAN1
SNOWFLAKE_PASSWORD=Dhyan@8373738383
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=ECOMMERCE_AI_DB
SNOWFLAKE_SCHEMA=RAW_DATA
SNOWFLAKE_ROLE=ACCOUNTADMIN